# Flutter/Dart
.dart_tool/
build/
*.apk
*.aab

# Android/iOS
android/.gradle/
ios/Pods/

# Laravel/Node
vendor/
node_modules/
public/storage/
storage/*.key
.env
.env.*.backup

# Umum
*.log
.DS_Store
Thumbs.db
